<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>td {text-align: center;}</style>
</head>
<body>

<table bgcolor="black">
<tr bgcolor="lightgrey">
    <th bgcolor="grey">&nbsp;Przedmiot&nbsp;</th>
    <td>&nbsp;<%= subject %>&nbsp;</td>
    <th bgcolor="grey">&nbsp;Imię&nbsp;</th>
    <td>&nbsp;<%= name %>&nbsp;</td>
    <th bgcolor="grey">&nbsp;Nazwisko&nbsp;</th>
    <td>&nbsp;<%= surname %>&nbsp;</td>
</tr>
<tr bgcolor="lightgrey">
    <th style="width:10%">zad1</th>
    <th style="width:10%">zad2</th>
    <th style="width:10%">zad3</th>
    <th style="width:10%">zad4</th>
    <th style="width:10%">zad5</th>
    <th style="width:10%">zad6</th>
    <th style="width:10%">zad7</th>
    <th style="width:10%">zad8</th>
    <th style="width:10%">zad9</th>
    <th style="width:10%">zad10</th>
</tr>
<tr bgcolor="white">
    <td><%= z1 %></td>
    <td><%= z2 %></td>
    <td><%= z3 %></td>
    <td><%= z4 %></td>
    <td><%= z5 %></td>
    <td><%= z6 %></td>
    <td><%= z7 %></td>
    <td><%= z8 %></td>
    <td><%= z9 %></td>
    <td><%= z10 %></td>
</tr>
</table>

</body>
</html>